{% extends 'blog/body/base.html' %}
{% block title %}{{titulo}}{% endblock %}


{% block content %}
<table class="table">
    <thead class="text-left font-weight-bold table-dark">
        <tr class="text-white ">
            <td>{{titulo}}</td>
        </tr>
    </thead>
    <tbody id="tabla-datos" class="small">
        <tr><td></td></tr>
        <tr>
        <td>
        <p>
        Gracias <b>{{titulo}}</b> se guardo con exito.
        </p>
        </td>
        <tr>
        <tr><td>
           <center> <a href="{% url "Inicio" %}">Regresar a formularios</a>
        </td></tr>
       
    </tbody>

</table>
{% endblock %}